@using MyPhotoViewer.ViewModels.Album
@using MyPhotoViewer.Extensions
@model IEnumerable<EditAlbumViewModel>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Registered Albums
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover with-buttons">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Period</th>
                    <th>Place</th>
                    <th>Photos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var album in Model)
                {
                    var place = album.Place;
                    <tr>
                        <td>@album.Id</td>
                        <td>@album.Title</td>
                        <td>@album.Description</td>
                        <td>@Html.DisplayPeriod(album)</td>
                        <td>@Html.DisplayPlace(album)</td>
                        <td>@album.PhotosCount</td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "Album", new { albumId = album.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "Delete", "Album", new { albumId = album.Id }, new { @class = "btn btn-primary btn-danger" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


