@using MyPhotoViewer.DAL
@model PhotoCollection

@{
    ViewBag.Title = Model.Name;
}

<div>
    @Photos(Model)
</div>

@section scripts {
<script>
    $(document).ready(function() {
        $('img').unveil();
    })
</script>
}

@helper Photos(PhotoCollection photoCollection)
{
    IEnumerator<Photo> photoEnumerator = photoCollection.Photos.GetEnumerator();
    while(photoEnumerator.MoveNext())
    {
        <div class="row">
            @Photo(photoEnumerator.Current)
            @PhotoOrEmpty(photoEnumerator)
            @PhotoOrEmpty(photoEnumerator)
        </div>
    }
}

@helper Photo(Photo photo)
{
    <div class="col-md-4">
        @Html.Partial("PhotoThumbnail", photo)
    </div>
}

@helper Test()
    {
    <div style="background-color:aqua; width: 100px; height: 100px">

    </div>
    }

@helper PhotoOrEmpty(IEnumerator<Photo> photoEnumerator)
{
    if (photoEnumerator.MoveNext())
    {
        @Photo(photoEnumerator.Current)
    }
}