@using MyPhotoViewer.DAL
@model PhotoAlbum

@{
    ViewBag.Title = Model.Title;
}

<div class="crud-bar">
    <p>
        @Html.ActionLink("Details", "Details", new { id = Model.PhotoAlbumId }, new { @class = "btn btn-default" });  
    </p>
</div>

<div class="photo-wall">
    @Photos(Model)
</div>

@section scripts {
<script>
    $(document).ready(function() {
        $('img').unveil();
    })
</script>
}

@helper Photos(PhotoAlbum photoCollection)
{
    IEnumerator<Photo> photoEnumerator = photoCollection.Photos.GetEnumerator();
    while(photoEnumerator.MoveNext())
    {
        <div class="row">
            @Photo(photoEnumerator.Current)
            @PhotoOrEmpty(photoEnumerator)
            @PhotoOrEmpty(photoEnumerator)
        </div>
    }
}

@helper Photo(Photo photo)
{
    <div class="col-md-4">
        @Html.Partial("PhotoThumbnail", photo)
    </div>
}

@helper Test()
    {
    <div style="background-color:aqua; width: 100px; height: 100px">

    </div>
    }

@helper PhotoOrEmpty(IEnumerator<Photo> photoEnumerator)
{
    if (photoEnumerator.MoveNext())
    {
        @Photo(photoEnumerator.Current)
    }
}