@model MyPhotoViewer.ViewModels.IPhotoCollectionThumbnail

@{
    Layout = null;
}

<h3>@Model.Name, @Model.Place.Country</h3>
<p><b>@Model.Period.From.ToShortDateString()</b> - <b>@Model.Period.To.ToShortDateString()</b></p>
<p>@Model.Description</p>
<p><img class="photo-thumbnail" src="@Url.Action("Image", new { id = Model.Image })" alt="photo" /></p>
<p><a class="btn btn-default" href="@Url.Action("Browse", new { id = Model.PhotoCollectionId })">View more &raquo;</a></p>