@model MyPhotoViewer.DAL.Photo

<div>
    <a href="@Url.Action("Index", "Photo", new { id = Model.PhotoId })" class="thumbnail">
        <img class="photo-preview" src="" data-src="@Url.Action("Image", new { id = Model.PhotoId })" alt="@Model.Title" />
    </a>
    @Html.ActionLink("Edit", "Edit", "Photo", new { id = Model.PhotoId })
    @Html.ActionLink("Details", "Details", "Photo", new { id = Model.PhotoId })
    @Html.ActionLink("Delete", "Delete", "Photo", new { id = Model.PhotoId })
</div>