@model MyPhotoViewer.DAL.Photo

@{ 
    ViewBag.Title = "Details";
}


<h2>@ViewBag.Title</h2>
<fieldset>
    <legend>Photo</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Place)
    </div>
    <div class="display-field">
        <p>@Model.Place</p>
    </div>

</fieldset>