@using MyPhotoViewer.Core
@using MyPhotoViewer.ViewModels.Album
@model AlbumWithPhotosViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<p>@Html.ActionLink("Add New Photo", "AddPhoto", new { albumId = Model.Id })</p>
<hr/>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
    <a class="close">&times;</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    @ViewPhotos(Model.Photos)
</div>

@helper ViewPhotos(IEnumerable<IPhoto> photos)
{
IEnumerator<IPhoto> photoEnumerator = photos.GetEnumerator();
while (photoEnumerator.MoveNext())
{
        <div class="row row-grid">
            @Photo(photoEnumerator.Current)
            @PhotoOrEmpty(photoEnumerator)
            @PhotoOrEmpty(photoEnumerator)
        </div>
}
}

@helper Photo(IPhoto photo)
{
    <div class="col-md-4">
        @Html.Partial("PhotoThumbnail", photo)
    </div>
}

@helper PhotoOrEmpty(IEnumerator<IPhoto> photoEnumerator)
{
if (photoEnumerator.MoveNext())
{
        @Photo(photoEnumerator.Current)
}
}

@section scripts {
    <script>
    $(document).ready(function() {
        $('img').unveil();

        $('#links').click(function (event) {
            var target = event.target,
                link = target.src ? target.parentNode : target,
                options = { index: link, event: event.originalEvent },
                links = $(this).find('a').get();
            blueimp.Gallery(links, options);
        });
    })
    </script>
}
